.test-css {
  bottom: 35px;
  width: 100%;
  list-style: none;
  text-align: center;
  position: absolute;
  padding: 0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.test-css li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  /*margin: 1px;*/
  padding: 0;
  cursor: pointer;
}

.test-css li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.test-css li button:before {
  font-size: 2.7rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.75;
  color: #fff;
}

.test-css li.slick-active button:before {
  opacity: 0.75;
  color: #3e00ff;
}
